# API 1 — Free API Live Football Data (RapidAPI)
# Sign up at https://rapidapi.com and subscribe to "Free API Live Football Data"
VITE_FOOTBALL_API_KEY=abfce7550bmshdbca0703fae1db3p167c5djsn76b9257df8e
# API 2 — NewsAPI.org (football headlines)
# Sign up at https://newsapi.org/register and copy your API key
VITE_NEWS_API_KEY=a14a85b558854530a3cea3251db80109
